@font-face {
  font-family: "hussor-bold";
  src: url(./assets/fonts/HussarBold.ttf);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FEC10A; */
  font-family: "hussor-bold";
overflow-x : hidden;
}
html{
overflow-x : hidden;
scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: whitesmoke;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #ffce0a
}